

a{
    color: white;
}

#tela_vagas{

    max-width: 1200px;

    display: flex;
    gap: 30px;
}


#matchs_do_perfil,
#vagas_disponiveis{

    background: var(--cor-branco);
    color: var(--cor-secundaria);

    padding: 20px;

    border-radius: var(--radius-padrao);

    box-shadow: 0 10px 25px rgba(0,0,0,0.2);
}





#vagas_disponiveis{
    
    display: flex;
    flex-direction: column;
    gap: 15px;
    justify-content: center;
    align-items: center
}



#lista_vagas,
#lista_matchs{
    list-style: none;
    margin-top: 15px;
    max-height: 400px;
    overflow-y: auto;
}


.vaga_item{
    border-bottom: 1px solid #e5e7eb;
    padding: 12px 0;
}



.vaga_label{
    display: flex;
    align-items: flex-start;
    gap: 10px;
    cursor: pointer;
}



.vaga_checkbox{
    margin-top: 6px;
    cursor: pointer;
}


.vaga_info h3{
    font-size: 1rem;
    margin-bottom: 4px;
}

.vaga_info p{
    font-size: 0.85rem;
    color: var(--cor-cinza);
}



.vaga_item:hover{
    background: #f3f4f6;
    border-radius: var(--radius-padrao);
    padding-left: 5px;
    transition: var(--transicao-padrao);
}



#curtir_vagas{

    margin-top: 15px;

    padding: 10px;

    border: none;

    border-radius: var(--radius-padrao);

    background: var(--cor-primaria);

    color: var(--cor-branco);

    font-weight: 600;

    cursor: pointer;

    transition: var(--transicao-padrao);
}

#curtir_vagas:hover{
    opacity: 0.9;
}

li{

border-bottom:1px solid #e5e7eb;

padding:12px 0;

cursor:pointer;

}

ul{

list-style:none;

margin-top:15px;

max-height:400px;

overflow-y:auto;

}



li:hover{

background:#f3f4f6;

border-radius:var(--radius-padrao);

padding-left:5px;

transition:var(--transicao-padrao);

}